<section class="forms">
	<div class="wrapper">
		<div class="formulario">
				<input class="form_itm" type="text" placeholder="Título de la publicación" name="nombre" required>
				<input class="form_itm" type="url" placeholder="Url de la imagen" name="image_url" required>
				<textarea class="form_itm" name="noticia" id="noticia" cols="30" rows="10" placeholder="Texto de la publicación" required></textarea>
				<input class="form_itm" type="date" name="date" required>
				<button class="form_itm" type="submit" name="btn_publish">Publicar</button>
	</div>
	<div>
		<img class="form_itm" src="https://placehold.co/600x600" alt="">

	</div>


	</div>
</section>
<section class="blog">

</section>
